

html {
    width: 100%;
    height: auto;
    margin: 0;

}

.session {
    width: 100%;
    height: 300px auto;
    align-items: center;
    margin-bottom: 50px solid red;
    text-align: center;
    padding: 10px;
}


.vista {
  
    

    background-repeat: no-repeat;
}
.img {
    width: 50%;
    height: 600px auto;
    margin: 0 auto;
   
    
}

input{
    width: 40%;
    
}