
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.session {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
}

.vista {
    flex: 1;
    text-align: center;
}

.vista img {
    max-width: 100%;
    height: auto;
    border-radius: 30PX;
}

.vista-2 {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

form {
    margin-bottom: 20px;
}

input[type="text"],
input[type="date"],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #3169f8;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0442fe;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 10px 0;
    gap: 10px;
    align-items:self-end;
}

.mostrarRegistro .card {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
